async-generator==1.10
attrs==21.4.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==36.0.1
h11==0.13.0
idna==3.3
mongoengine==0.23.1
outcome==1.1.0
pycparser==2.21
pymongo==3.12.3
pyOpenSSL==21.0.0
requests==2.27.1
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
trio==0.19.0
trio-websocket==0.9.2
typing_extensions==4.0.1
urllib3==1.26.8
uuid==1.30
wsproto==1.0.0
Scrapy~=2.5.1
itemadapter~=0.4.0
w3lib~=1.22.0
lxml~=4.7.1
feedparser~=6.0.8
Flask~=2.0.2
Flask-Script==2.0.6
Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
Flask-Login==0.5.0
mysqlclient==2.0.3
redis==2.10.6
unittest2==1.1.0
flasgger==0.9.5